#cartNav{
    display: flex;
    height: 100px;
    border: 1px solid teal;
justify-content: space-around;
align-items: center;
    
    
    
}

#buttonDiv{
    display: flex;
    border: 2px solid ;
height: 100%;
justify-content: center;
align-items: center;
    
}
#buttonDiv>img{
  display: block;   
height: 50%;
margin-right: 10PX;
}
#buttonDiv>p{
    font-size: 24px;

}
#myBag{
    height: 60px;
background-color: 
#0092df ;
color: white;
display: flex;

align-items: center;

}

#myBag b>h1{
margin-left: 400px;
}

#container{
    width: 80%;
    border: 1px solid blue;
    margin: auto;
    height: 700px;
    margin-top: 10px;
}

#container{
    display: flex;
}
#cotainerLeft{
width: 65%;
border: 2px solid rebeccapurple;
height: 40%;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
#containerRight{
height: 100%;
width: 28%;
border: 2px solid black;
margin: auto;
}
#promocode{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 1px solid rgb(185, 33, 58);
    background-color: #f2f2f2;

}
#promocode>img{
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#overview{
    background-color: #f2f2f2;
}